/* Cores da Paleta 
#272932
#828489
#D4E4BC
#4D7EA8
#FFD972 
*/
*{
    margin: 0;
    padding: 0;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;    
    text-align: center;
    background-color: #fff8f8;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
}
.texto{
    font-size: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    background-image: linear-gradient(#4d7ea8,#fff8f8);
}
.menu{
    display: flex;
    list-style:none;
    border:none;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
}
.menu li{
    position: relative;
    float:left;
}
.menu li a{
    color:#333; 
    text-decoration:none; 
    padding:8px 15px; 
    display:block;
}

.menu li a:hover{
    background-color: #333;
    color:#fff;
    text-shadow:0px 0px 5px #fff;
}
.menu li  ul{
    position: absolute;
    top:30px;
    left:0;
    background-color:#fff;
    display:none;
}
.menu li:hover ul, .menu li.over ul{
    display:block;
}
.menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
}
.sociais ul li{
    float: left;
    list-style: none;
    padding: 3px;
}
.FACEBOOK, .INSTAGRAM, .TWITTER, .YOUTUBE, .TIKTOK{
  border-radius: 50%;
}

.FACEBOOK:hover{
  box-shadow: 0px 0px 8px blue;
}
.YOUTUBE:hover{
  box-shadow: 0px 0px 8px red;
}
.TWITTER:hover{
  box-shadow: 0px 0px 8px white;
}
.INSTAGRAM:hover{
  box-shadow: 0px 0px 8px rgb(183, 0, 255);
}
.TIKTOK:hover{
  box-shadow: 0px 0px 8px rgb(55, 0, 255);
}