@media (max-width: 768px) {
    .apagarCelular {
      display: none;
    }
    .texto{
      font-size: medium;
      text-align: center;
      text-align: justify;
    } 
    figcaption{
      font-weight: bolder;
    }
    .containerCelular{
    flex-direction: column;
    align-items: center;
    display: flex;
    position: flex;
    }
    .fotoMenor{
      width: 90%;
      padding: 20px;
    }
    .textoLista{
    padding-top: 15px;
    font-size: medium;
    text-align: center;
    text-align: justify;
    }
    .containerCelular{
      
    }
  }