* {
    margin: 0;
    padding: 0;
}

/* NAV */



body{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-align: center;
    }
nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 50px;
        background-color: cyan;
    }

    .logo{
        transform: ;
    }

h2{
        padding: 15px;
        font-size: 28px;
    }
.menu{
        display: flex;
        list-style:none;
        border:none;
        justify-content: center;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: 600;
    }
.menu li{
        position: relative;
        float:left;
    }
.menu li a{
        color:#333; 
        text-decoration:none; 
        padding:8px 15px; 
        display:block;
    }
    
.menu li a:hover{
        background:#333;
        color:#fff;
        box-shadow:0 3px 10px 0 #CCC;
        text-shadow:0px 0px 5px #fff;
    }
.menu li  ul{
        position: absolute;
        top:30px;
        left:0;
        background-color:#fff;
        display:none;
        }
.menu li:hover ul, .menu li.over ul{
        display:block;
    }
.menu li ul li{
        border:1px solid #c0c0c0;
        display:block;
        width:150px;
    }

    .sociais{
        display: flex;
    }


.sociais ul li{
        float: left;
        list-style: none;
        padding: 3px;
    }

.fix{
    width: 20px;
    }

.banner{
        display: flex;
        justify-content: center;
        padding-top: 25px;
    }


    

/* CONTEUDO */


.container{
flex-direction: column;
align-items: center;
display: flex;


}
.container>div{
width: 1000px;
}

.foto {
width: 100%;
height: 100%;
padding-left: 10px;
}

.texto{
padding: 25px;
font-size: 22px;
text-align: justify;
line-height: 1.3;
text-align: center;
}

.listaum{
font-size: 22px;
text-align: justify;
line-height: 1.3;
}
.listadois{
font-size: 22px;
text-align: justify;
line-height: 1.3;
}
.caixa{
padding-left: 38px;
}
.caixa2{
padding-left: 38px;
}

.Libras{
padding: 10px;
font-size: 22px;
text-align: justify;
line-height: 1.3;
padding-left: 10px;

}
.smile{
width: 600px;
padding-left: 45px;

}
.shy{
padding: 15px;
font-size: 28px;
}
.fake{
padding: 10px;
font-size: 22px;
text-align: justify;
line-height: 1.3;
padding-left: 10px;

}
.happy{
padding: 10px;
font-size: 22px;
text-align: justify;
line-height: 1.3;
padding-left: 10px;

}
.sad{
padding: 15px;
font-size: 28px;

}
.hola{
padding: 10px;
font-size: 22px;
text-align: justify;
line-height: 1.3;
padding-left: 10px;

}
.hans{
padding: 10px;
font-size: 22px;
text-align: justify;
line-height: 1.3;
padding-left: 10px;
}
.keju{
padding: 10px;
font-size: 22px;
text-align: justify;
line-height: 1.3;
padding-left: 10px;
}
.lol{
padding-left: 65px;

}

.video{
padding-left: 25px;
padding-top: 20px;
margin: 10px;

}
.imagens{
width: 294px;
height: 294px;
margin: 10px;
}
.viver{
justify-content: center;
padding-left: 85px;
}

